In [ ]:
## Import necessary libraries

import pandas as pd
from sqlalchemy import create_engine

In [ ]:
file_path = r"C:\Users\ogsal\OneDrive\Desktop\NWMSU\exercise_07\title.episode.tsv"

df_episode = pd.read_csv(
    file_path,
    sep="\t",
    encoding="cp1252",
    encoding_errors="ignore",
    na_values="\\N",
    low_memory=False
)

df_episode.head()

      tconst parentTconst  seasonNumber  episodeNumber
0  tt0031458   tt32857063           NaN            NaN
1  tt0041951    tt0041038           1.0            9.0
2  tt0042816    tt0989125           1.0           17.0
3  tt0042889    tt0989125           NaN            NaN
4  tt0043426    tt0040051           3.0           42.0

In [ ]:
df_episode = df_episode.rename(columns={
    "parentTconst": "parent_tconst",
    "seasonNumber": "season_number",
    "episodeNumber": "episode_number"
})

df_episode["season_number"] = pd.to_numeric(df_episode["season_number"], errors="coerce")
df_episode["episode_number"] = pd.to_numeric(df_episode["episode_number"], errors="coerce")

In [9]:
## Load into PostgreSQL (chunked & fast)

engine = create_engine(
    "postgresql+psycopg2://postgres:IreKayin01$$$@localhost:5432/movies_db"
)

df_episode.to_sql(
    "title_episode",
    engine,
    if_exists="append",
    index=False,
    chunksize=10000,
    method="multi"
)

9458778