In [1]:
## Import necessary libraries

import pandas as pd
from sqlalchemy import create_engine

In [2]:
## Read the TSV safely in Jupyter (NO encoding crashes)

file_path = r"C:\Users\ogsal\OneDrive\Desktop\NWMSU\exercise_07\title.basics.tsv"

df_titles = pd.read_csv(
    file_path,
    sep="\t",
    encoding="cp1252",
    encoding_errors="ignore",   # <-- critical
    na_values="\\N",
    low_memory=False
)

df_titles.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894.0,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892.0,NaN,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892.0,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,NaN,1,Short

In [3]:
## Rename columns to match PostgreSQL table

df_titles = df_titles.rename(columns={
    "tconst": "tconst",
    "titleType": "title_type",
    "primaryTitle": "primary_title",
    "originalTitle": "original_title",
    "isAdult": "is_adult",
    "startYear": "start_year",
    "endYear": "end_year",
    "runtimeMinutes": "runtime_minutes",
    "genres": "genres"
})

In [4]:
## Convert numeric columns (important for inserts)

numeric_cols = [
    "is_adult",
    "start_year",
    "end_year",
    "runtime_minutes"
]

for col in numeric_cols:
    df_titles[col] = pd.to_numeric(df_titles[col], errors="coerce")

In [5]:
## Load into PostgreSQL (chunked & fast)

engine = create_engine(
    "postgresql+psycopg2://postgres:IreKayin01$$$@localhost:5432/movies_db"
)

df_titles.to_sql(
    "title_basics",
    engine,
    if_exists="append",
    index=False,
    chunksize=10000,
    method="multi"
)

12256479