In [37]:
## import necessary libraries

import pandas as pd
from sqlalchemy import create_engine

In [38]:
## Read the TSV file safely

file_path = r"C:\Users\ogsal\OneDrive\Desktop\NWMSU\exercise_07\name.basics.tsv"

df = pd.read_csv(
    file_path,
    sep="\t",
    encoding="cp1252",
    encoding_errors="ignore",  # <-- KEY FIX
    na_values="\\N",
    low_memory=False
)

In [39]:
## Display the first 20 rows of the DataFrame

df.head(20)

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899.0,1987.0,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0027125,tt0025164"
1,nm0000002,Lauren Bacall,1924.0,2014.0,"actress,miscellaneous,soundtrack","tt0037382,tt0075213,tt0038355,tt0117057"
2,nm0000003,Brigitte Bardot,1934.0,2025.0,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949.0,1982.0,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918.0,2007.0,"writer,director,actor","tt0050986,tt0069467,tt0050976,tt0083922"
5,nm0000006,Ingrid Bergman,1915.0,1982.0,"actress,producer,soundtrack","tt0034583,tt0038109,tt0036855,tt0038787"
6,nm0000007,Humphrey Bogart,1899.0,1957.0,"actor,producer,miscellaneous","tt0034583,tt0043265,tt0037382,tt0033870"
7,nm0000008,Marlon Brando,1924.0,2004.0,"actor,director,writer","tt0078788,tt0068646,tt0047296,tt0070849"
8,nm0000009,Richard Burton,1925.0,1984.0,"actor,producer,director","tt0061184,tt0087803,tt0059749,tt0057877"
9,nm0000010,James Cagney,1899.0,1986.0,"actor,director,producer","tt0029870,tt0031867,tt0042041,tt0034236"
10,nm0000011,Gary Cooper,1901.0,1961.0,"actor,stunts,producer","tt0044706,tt0034167,tt0027996,tt0033373"
11,nm0000012,Bette Davis,1908.0,1989.0,"actress,make_up_department,producer","tt0042192,tt0056687,tt0031210,tt0035140"
12,nm0000013,Doris Day,1922.0,2019.0,"actress,producer,miscellaneous","tt0048317,tt0045591,tt0053172,tt0040745"
13,nm0000014,Olivia de Havilland,1916.0,2020.0,"actress,soundtrack,archive_footage","tt0031381,tt0041452,tt0029843,tt0040806"
14,nm0000015,James Dean,1931.0,1955.0,"actor,miscellaneous,archive_footage","tt0048028,tt0048545,tt0049261,tt0039123"
15,nm0000016,Georges Delerue,1925.0,1992.0,"composer,music_department,actor","tt0091763,tt0096320,tt0069946,tt0070460"
16,nm0000017,Marlene Dietrich,1901.0,1992.0,"actress,music_department,soundtrack","tt0051201,tt0055031,tt0021156,tt0052311"
17,nm0000018,Kirk Douglas,1916.0,2020.0,"actor,producer,director","tt0043338,tt0080736,tt0054331,tt0049456"
18,nm0000019,Federico Fellini,1920.0,1993.0,"writer,director,actor","tt0056801,tt0053779,tt0050783,tt0071129"
19,nm0000020,Henry Fonda,1905.0,1982.0,"actor,producer,miscellaneous","tt0050083,tt0082846,tt0032551,tt0036244"

In [40]:
df.columns

Index(['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession',
       'knownForTitles'],
      dtype='object')

In [ ]:
## Drop unnecessary columns if they exist

## df = df.drop(columns=["name_id"], errors="ignore")

In [41]:
print(df.columns.tolist())

['nconst', 'primaryName', 'birthYear', 'deathYear', 'primaryProfession', 'knownForTitles']

In [42]:
## Rename columns to match PostgreSQL table

df = df.rename(columns={
    "nconst": "nconst",
    "primaryName": "primary_name",
    "birthYear": "birth_year",
    "deathYear": "death_year",
    "primaryProfession": "primary_profession",
    "knownForTitles": "known_for_titles"
})

In [43]:
## Connect to PostgreSQL

engine = create_engine("postgresql+psycopg2://postgres:IreKayin01$$$@localhost:5432/movies_db")

In [44]:
## Test connection

engine.connect()

In [45]:
## Load data into PostgreSQL table

df.to_sql(
    "name_basics",
    engine,
    if_exists="append",
    index=False,
    chunksize=10000,
    method="multi"
)

15053659