In [1]:
## Import necessary libraries

import pandas as pd
from sqlalchemy import create_engine

In [2]:
## Read the TSV safely in Jupyter (NO encoding crashes)

file_path = r"C:\Users\ogsal\OneDrive\Desktop\NWMSU\exercise_07\title.ratings.tsv"

df_ratings = pd.read_csv(
    file_path,
    sep="\t",
    encoding="cp1252",
    encoding_errors="ignore",   # <-- critical
    na_values="\\N",
    low_memory=False
)

df_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2190
1  tt0000002            5.5       309
2  tt0000003            6.5      2290
3  tt0000004            5.1       196
4  tt0000005            6.2      3023

In [3]:
## Rename columns to match PostgreSQL table

df_ratings = df_ratings.rename(columns={
    "tconst": "tconst",
    "averageRating": "average_rating",
    "numVotes": "num_votes"
})

In [4]:
## Convert numeric columns (important for inserts)

numeric_cols = [
    "average_rating",
    "num_votes"
]

for col in numeric_cols:
    df_ratings[col] = pd.to_numeric(df_ratings[col], errors="coerce")

In [5]:
## Load into PostgreSQL (chunked & fast)

engine = create_engine(
    "postgresql+psycopg2://postgres:IreKayin01$$$@localhost:5432/movies_db"
)

df_ratings.to_sql(
    "title_ratings",
    engine,
    if_exists="append",
    index=False,
    chunksize=10000,
    method="multi"
)

1630292